<li id="story_<%= story.short_id %>" data-shortid="<%= story.short_id %>"
class="story <%= story.vote == 1 ? "upvoted" : "" %> <%= story.vote == -1 ?
"downvoted" : "" %> <%= story.vote == 0 ? "hidden" : "" %> <%= story.is_expired? ?
"expired" : "" %>">
<div class="story_liner">
  <div class="voters">
    <% if @user %>
      <a class="upvoter"></a>
    <% else %>
      <%= link_to "", login_url, :class => "upvoter" %>
    <% end %>
    <div class="score"><%= story.score %></div>
    <% if @user && @user.can_downvote?(story) %>
      <a class="downvoter"></a>
    <% else %>
      <span class="downvoter downvoter_stub"></span>
    <% end %>
  </div>
  <div class="details">
    <span class="link">
      <% if story.can_be_seen_by_user?(@user) %>
        <a href="<%= story.url_or_comments_url %>"><%= story.title %></a>
      <% end %>
      <% if story.is_gone? %>
        [Story removed by <%= story.is_moderated? ? "moderator" :
          "original submitter" %>]
      <% end %>
    </span>
    <% if story.can_be_seen_by_user?(@user) %>
      <span class="tags">
        <% story.taggings.sort_by{|t| t.tag.tag }.sort_by{|t|
        t.tag.tag == "pdf" ? -1 : 0 }.each do |tagging| %>
          <a href="<%= tag_url(tagging.tag.tag) %>"
            class="<%= tagging.tag.css_class %>"
            title="<%= tagging.tag.description %>"><%= tagging.tag.tag %></a>
        <% end %>
      </span>
      <span class="domain"><%= story.domain %></span>

      <% if defined?(single_story) && single_story %>
        <% story.merged_stories.each do |ms| %>
          <br>
          <span class="merge"></span>
          <span class="link">
            <a href="<%= ms.url_or_comments_url %>"><%= ms.title %></a>
          </span>
          <span class="tags">
            <% ms.taggings.sort_by{|t| t.tag.tag }.sort_by{|t|
            t.tag.tag == "pdf" ? -1 : 0 }.each do |tagging| %>
              <a href="<%= tag_url(tagging.tag.tag) %>"
                class="<%= tagging.tag.css_class %>"
                title="<%= tagging.tag.description %>"><%= tagging.tag.tag %></a>
            <% end %>
          </span>
          <span class="domain"><%= ms.domain %></span>
        <% end %>
      <% end %>
    <% end %>
    <div class="byline">
      <% if story.previewing %>
        by <a><%= story.user.username %></a>
        just now
      <% else %>
        by <a href="/u/<%= story.user.username %>"><%= story.user.username
          %></a> <%= raw(time_ago_in_words_label(story.created_at).
          gsub(/^about /, "")) %> ago

        <% if story.is_editable_by_user?(@user) %>
          |
          <%= link_to 'supporters', story_supporters_url(story) %>
          |
          <a href="<%= edit_story_url(story.short_id) %>">edit</a>

          <% if story.is_gone? && story.is_undeletable_by_user?(@user) %>
            |
            <%= link_to "undelete", story_undelete_url(story.short_id),
              :method => :post, :data => {
              :confirm => "Are you sure you want to undelete this story?" } %>
          <% elsif !story.is_gone? %>
            |
            <% if story.user_id != @user.try(:id) &&
            @user.try(:is_moderator?) %>
              <%= link_to "delete", story_url(story.short_id),
                :method => :delete, :class => "mod_story_link" %>
            <% else %>
              <%= link_to "delete", story_url(story.short_id),
                :method => :delete, :data => {
                :confirm => "Are you sure you want to delete this story?" } %>
            <% end %>
          <% end %>
        <% end %>
        <% if !story.is_gone? && @user %>
          <% if story.vote == 0 %>
            | <%= link_to "unhide", story_unhide_url(story.short_id),
              :class => "hider" %>
          <% else %>
            | <%= link_to "hide", story_hide_url(story.short_id),
              :class => "hider" %>
          <% end %>
          <% if defined?(single_story) && single_story && story.hider_count > 0 %>
            (hidden by <%= pluralize(story.hider_count, "user") %>)
          <% end %>
        <% end %>
        <% if !story.is_gone? && (@user || story.comments_count > 0) %>
          <span class="comments_label">
            |
            <a href="<%= story.comments_url %>"><%= story.comments_count == 0 ?
              "discuss" : "#{story.comments_count} comment" <<
              (story.comments_count == 1 ? "" : "s") %></a>
          </span>
        <% end %>

        <% if defined?(single_story) && single_story %>
          <% if story.downvotes > 0 %>
            | <%= story.vote_summary_for(@user).downcase %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="mobile_comments <%= story.comments_count == 0 ? "zero" : "" %>"
style="display: none;">
  <a href="<%= story.comments_url %>"><%= story.comments_count %></a>
</div>
</li>
