<%= render :partial => 'stories/listdetail', locals: {story: @story} %>
<p>on Idealist.tips, 1 upvote == 1 supporter</p>
<p>below is everyone that supports this idea</p>
<table>
<tr>
  <th></th>
  <th>username</th>
  <th>email</th>
</tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to user.username, user %> </td>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table>
