<div class="box wide">
  <div class="legend">
    Login
  </div>

  <%= form_tag login_url do %>
    <p>
      <%= label_tag :email, "E-mail or Username:" %>
      <%= text_field_tag :email, "", :size => 30, :autofocus => "autofocus" %>
      <br />

      <%= label_tag :password, "Password:" %>
      <%= password_field_tag :password, "", :size => 30 %>
      <br />
    </p>

    <p>
    <%= submit_tag "Login" %>
    </p>

    <p>
    Forgot your password? <%= link_to "Reset your password",
      forgot_password_url %>.
    </p>

    <p>
    Not a user yet?  Signup is by invitation only to combat spam and increase
    accountability.  If you know <a href="/u/">a current user</a> of the site,
    ask them for an invitation or <a href="/invitations/request">request one
    publicly</a>.
    </p>
  <% end %>
  <a href="/signup/new">
    Sign Up
  </a>
</div>
